body {margin: 0;
    padding: 0;}

h2 {padding-right: 25px;}

#header {text-align: center;
        margin-bottom: 40px;}

#menu-container {
    padding: 10vh 5vw;
}

.menu-image {
    width: 100%;
    border-radius: 5px;
    border: 1px solid gold;
}

#menu-item-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

#menu-item {
    width: 100%;
}


@media (min-width: 922px) {
    #menu-item {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 40%;
        gap: 0px 20px;
    }

    #menu-container {
        padding: 10vh 5vw;
    }

      #menu-item-container {
       flex-direction: row;
       flex-wrap: wrap;
       gap: 100px;
   }
}




/*Attachable Classes */
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.space-between{
    justify-content: space-around;
}

.align-center {
    align-items: center;
}